.card{
    margin-bottom: 10px;
    a{
        margin-right: 5px;
        &:last-child{
            margin-right: 0;
        }
    }
    sup{
        text-align: right;
        margin: 20px;    
    }
}